<%= render "shared/context_nav", title: t("activerecord.models.#{OProposta.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{OProposta.model_name.i18n_key}.other"), o_propostas_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@o_proposta) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @o_proposta.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{OProposta.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="row g-3">
        <div class="col-md-6">
          <%= f.association :o_orcamento, 
                collection: OOrcamento.all.map { |o| [ "#{o.g_veiculo.modelo} - #{o.valor_total}", o.id ] }, 
                label: "Orçamento", 
                prompt: "Selecione o orçamento",
                input_html: { class: "form-select" } %>
        </div>
        <div class="col-md-6">
          <%= f.association :user, 
                collection: User.joins(:g_tipo_usuario).where(g_tipo_usuarios: { descricao: "FORNECEDOR" }).map { |u| ["#{u.nome} (#{u.cpf})", u.id] }, 
                label: "Fornecedor", 
                prompt: "Selecione o fornecedor",
                input_html: { class: "form-select" } %>
        </div>
        <div class="col-md-6">
          <%= f.association :o_status, 
                collection: OStatus.all.map { |s| [s.descricao, s.id] }, 
                label: "Status", 
                prompt: "Selecione o status",
                input_html: { class: "form-select" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :valor_total, label: "Valor Total", input_html: { class: "form-control", placeholder: "Valor total" } %>
        </div>
        <div class="col-12">
          <%= f.input :itens, label: "Itens", input_html: { class: "form-control", placeholder: "Detalhes dos itens" } %>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", o_propostas_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
