<div id="<%= dom_id o_proposta %>">
  <p>
    <strong>O orcamento:</strong>
    <%= o_proposta.o_orcamento_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= o_proposta.user_id %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_proposta.o_status_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_proposta.valor_total %>
  </p>

  <p>
    <strong>Itens:</strong>
    <%= o_proposta.itens %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= o_proposta.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= o_proposta.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= o_proposta.deleted_at %>
  </p>

</div>
