<div id="<%= dom_id g_veiculo %>">
  <p>
    <strong>Placa:</strong>
    <%= g_veiculo.placa %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= g_veiculo.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= g_veiculo.marca %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= g_veiculo.ano %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= g_veiculo.cor %>
  </p>

  <p>
    <strong>Km atual:</strong>
    <%= g_veiculo.km_atual %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= g_veiculo.status_id %>
  </p>

  <p>
    <strong>G tipo veiculo:</strong>
    <%= g_veiculo.g_tipo_veiculo_id %>
  </p>

  <p>
    <strong>G centro custo:</strong>
    <%= g_veiculo.g_centro_custo_id %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= g_veiculo.criado_em %>
  </p>

  <p>
    <strong>Atualizado em:</strong>
    <%= g_veiculo.atualizado_em %>
  </p>

</div>
