<div id="<%= dom_id o_orcamento %>">
  <p>
    <strong>User:</strong>
    <%= o_orcamento.user_id %>
  </p>

  <p>
    <strong>G veiculo:</strong>
    <%= o_orcamento.g_veiculo_id %>
  </p>

  <p>
    <strong>G centro custo:</strong>
    <%= o_orcamento.g_centro_custo_id %>
  </p>

  <p>
    <strong>O tipo solicitacao:</strong>
    <%= o_orcamento.o_tipo_solicitacao_id %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_orcamento.o_status_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_orcamento.valor_total %>
  </p>

  <p>
    <strong>Itens:</strong>
    <%= o_orcamento.itens %>
  </p>

</div>
