<div id="<%= dom_id g_condutor %>">
  <p>
    <strong>Nome:</strong>
    <%= g_condutor.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= g_condutor.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= g_condutor.telefone %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= g_condutor.senha %>
  </p>

  <p>
    <strong>Cnh numero:</strong>
    <%= g_condutor.cnh_numero %>
  </p>

  <p>
    <strong>Cnh categoria:</strong>
    <%= g_condutor.cnh_categoria %>
  </p>

  <p>
    <strong>Validade cnh:</strong>
    <%= g_condutor.validade_cnh %>
  </p>

  <p>
    <strong>G status:</strong>
    <%= g_condutor.g_status_id %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= g_condutor.criado_em %>
  </p>

  <p>
    <strong>Atualizado em:</strong>
    <%= g_condutor.atualizado_em %>
  </p>

</div>
