<div id="<%= dom_id o_orcamento_proposta %>">
  <p>
    <strong>O orcamento:</strong>
    <%= o_orcamento_proposta.o_orcamento_id %>
  </p>

  <p>
    <strong>O proposta:</strong>
    <%= o_orcamento_proposta.o_proposta_id %>
  </p>

  <p>
    <strong>O status aprovacao:</strong>
    <%= o_orcamento_proposta.o_status_aprovacao_id %>
  </p>

  <p>
    <strong>Aprovado por:</strong>
    <%= o_orcamento_proposta.aprovado_por %>
  </p>

  <p>
    <strong>Aprovado em:</strong>
    <%= o_orcamento_proposta.aprovado_em %>
  </p>

</div>
