<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar O Orcamento Proposta</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @o_orcamento_proposta %>">
          <p>
            <strong>O Orcamento:</strong>
            <%= @o_orcamento_proposta.o_orcamento %>
          </p>
          <p>
            <strong>O Proposta:</strong>
            <%= @o_orcamento_proposta.o_proposta %>
          </p>
          <p>
            <strong>O Status Aprovacao:</strong>
            <%= @o_orcamento_proposta.o_status_aprovacao %>
          </p>
          <p>
            <strong>Aprovado Por:</strong>
            <%= @o_orcamento_proposta.aprovado_por %>
          </p>
          <p>
            <strong>Aprovado Em:</strong>
            <%= @o_orcamento_proposta.aprovado_em %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_o_orcamento_proposta_path(@o_orcamento_proposta), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", o_orcamento_propostas_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @o_orcamento_proposta, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
